[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
tiktoken = "*"
openai = "*"
black = "*"
chromadb = "*"
python-dotenv = "*"
streamlit = "*"
yt-dlp = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.11"
